@import "src/styles/constants";

.header {
  width: 100%;
  color: $text-color;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: rgba(darken($background-color, 5%), 0.5);
    flex-wrap: wrap;

    & > * {
      margin: 5px 10px;
    }

    & > button {
      background-color: lighten($background-color, 10%);
      padding: 10px 20px;
      font-size: 1rem;

      &:hover {
        background-color: lighten($background-color, 15%);
      }
    }

    @media (max-width: 1200px) {
      & > button {
        display: block;
        font-size: 0.9rem;
      }
    }

    @media (max-width: 768px) {
      padding: 0;

      & > button {
        padding: 8px 16px;
      }
    }
  }

  &__settings {
    width: 30px;
    height: 30px;
  }

  &__user {
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;

    &__container {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: $transition-speed;

      & > span {
        margin: 10px 5px;
        font-size: 1rem;

        &:last-child {
          margin: 0;
        }
      }

      &:hover {
        color: $accent-color;
        transition: $transition-out-speed;
      }
    }

    @media (max-width: 1200px) {
      margin: 5px 10px;

      &__container > span {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 768px) {
      &__container > span {
        margin: 8px 4px;
      }
    }
  }

  &__button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: $transition-speed;

    &:hover {
      transition: $transition-out-speed;
    }

    @media (max-width: 1200px) {
      font-size: 0.9rem;
      padding: 4px 8px;
    }

    @media (max-width: 768px) {
      margin: 8px 4px;
    }
  }
}