@import "src/styles/constants";

.header {
  width: 100%;
  color: $text-color;

  @mixin header-responsive {
    @media (max-width: 1200px) {
      &__container {

        button {
          display: block;
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: rgba(darken($background-color, 5%), 0.5);
    flex-wrap: wrap;

    & > * {
      margin: 5px 10px;
    }

    & > button {
      background-color: lighten($background-color, 10%);
      padding: 10px 20px;

      &:hover {
        background-color: lighten($background-color, 15%);
      }
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__settings {
    width: 30px;
    height: 30px;
  }

  @mixin user-responsive {
    @media (max-width: 1200px) {
      &__user {
        margin: 5px 10px;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;

    &__container {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: $transition-speed;

      & > span {
        margin: 10px 5px;

        &:last-child {
          margin: 0;
        }
      }

      &:hover {
        color: $accent-color;
        transition: $transition-out-speed;
      }
    }
  }

  @include user-responsive;

  &__button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: $transition-speed;

    &:hover {
      transition: $transition-out-speed;
    }
  }

  @include header-responsive;
}