@import "src/styles/constants";

.task {
  &__container {
    background: lighten($background-color, 10%);
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    color: white;
    overflow-x: hidden;
    //min-height: 35px;
    height: 70px;
    border: 1px solid lighten($background-color, 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      background: lighten($background-color, 15%);
      border: 1px solid $accent-color;
      cursor: grab;
    }

    &_overlay, &_overlay:hover {
      background-color: rgba(lighten($background-color, 15%), 0.3);
      border: 1px solid $accent-color;
      opacity: 0.6;
    }
  }

  &__name {
    font-weight: bold;
    display: flex;
    cursor: pointer;

    div:first-child {
      min-height: 35px;
      width: calc(100% - 30px);
      margin-bottom: 8px;

      &:hover{
        color: lighten($accent-color, 60%);
      }
    }

    &:hover {
    }
  }


  &__description {

  }

  &__date {
    font-size: 12px;
    opacity: 0.7;
  }

  &__delete {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}