@import "src/styles/constants";

.task {
  &__container {
    background: lighten($background-color, 10%);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 20px;
    color: white;
    overflow-x: hidden;
    height: 100px;
    border: 1px solid lighten($background-color, 10%);

    &:hover {
      background: lighten($background-color, 15%);
      border: 1px solid $accent-color;
      cursor: grab;
    }

    &_overlay {
      border-radius: 10px;
      margin: 10px 0;
      padding: 10px 20px;
      color: white;
      overflow-x: hidden;
      height: 100px;
      background-color: rgba(lighten($background-color, 15%), 0.3);
      border: 1px solid $accent-color;
      opacity: 0.6;
    }
  }

  &__name {
    &:hover {
      cursor: pointer;
    }
  }

  &__description {

  }

  &__delete {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}