@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'constants';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


input, button {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input {
  padding: 8px;
  border: 1px solid lighten($background-color, 15%);
  border-radius: 4px;
  background-color: lighten($background-color, 10%);
  color: #fff;

  &:hover {
    border-color: $accent-color;
    background-color: lighten($background-color, 15%);
  }
}

a {
  color: $accent-color;
  text-decoration: none;
}