@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'constants';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  input, button {
    all: unset;
  }

  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
  }
}