@import "src/styles/constants";

.kanban-container {
  justify-content: space-between;
  background: $background-color;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  padding: 0 50px;
}

.column-container {
  display: flex;
  margin: auto 0;
  height: 70%;
}

.create-column-container {
  height: 100%;
  width: 350px;

  button {
    background: #3b3b3b;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 20px 40px;

    &:hover {
      cursor: pointer;
      background: #4b4b4b;
    }
  }
}
