@import "src/styles/constants";

.kanban-container {
  justify-content: space-between;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.column-container {
  display: flex;
  margin: auto 0;
  height: 90%;

  & > div {
    margin: 0 20px;
  }
}

.create-column-container {
  height: 100%;
  margin: 0 20px;

  button {
    background: lighten($background-color, 5%);
    border: 1px solid $background-color;
    border-radius: $border-radius;
    color: $text-color;
    font-weight: bold;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: $transition-speed;

    & > div {
      margin: auto 5px;
    }

    &:hover {
      background: lighten($background-color, 10%);
      color: $accent-color;
      transition: $transition-out-speed;
      border: 1px solid $accent-color;
    }
  }
}
