@import "src/styles/constants";

.footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__text {
    font-size: 1em;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & > div {
    opacity: 0.5;
    transition: 400ms;
    padding: 20px 15px;

    &:hover {
      opacity: 1;
      transition: 400ms;
    }
  }

  @media (max-width: 768px) {
    & {
      flex-direction: column;
      justify-content: left;
      text-align: left;
    }

    & > div {
      padding: 10px 0;
    }
  }
}