@import "src/styles/constants";

.footer {
  bottom: 0;
  width: 100%;
  color: $text-color;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;

  &__info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    grid-column-start: 2;
  }

  &__locals {
    margin-left: auto;
    display: flex;
  }

  &__info > div, &__locals > div {
    opacity: 0.5;
    transition: $transition-speed;
    padding: 20px 15px;

    &:hover {
      opacity: 1;
      transition: $transition-speed;
    }
  }


  &__text {
    font-size: 1em;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    &__info {
      & {
        flex-direction: column;
        justify-content: left;
        text-align: left;
      }

      & > div {
        padding: 5px 10px;

        &:first-child {
          padding-top: 10px;
        }

        &:last-child {
          padding-bottom: 10px;
        }
      }
    }
  }
}