@import "src/styles/constants";

.switch {
  &__checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $accent-color;

        &:hover {
          background-color: darken($accent-color, 10%);
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 1px $accent-color;
      }

      &:checked + .slider:before {
        transform: translateX(30px);
      }
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lighten($background-color, 20%);
  border-radius: 15px;
  transition: 400ms;

  &:hover {
    background-color: lighten($background-color, 25%);
    transition: 400ms;
  }

  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    border-radius: 50%;
    transition: 400ms;
  }
}
